Schemas/LatePaymentIndex_notif.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="IndividualPaymentIndex">
        <xs:complexType>
            <xs:sequence>
			    <xs:element type="xs:string" name="individualPaymentIndexReleaseDate"/>
                <xs:element type="xs:string" name="assessmentSlug"/>
                <xs:element type="xs:string" name="companyId"/>
                <xs:element type="xs:decimal" name="paymentIndexValue"/>
                <xs:element type="xs:string" name="updateDate"/>
                <xs:element maxOccurs="unbounded" name="descriptions">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="label"/>
                            <xs:element type="xs:string" name="short"/>
                            <xs:element type="xs:string" name="full"/>
                            <xs:element type="xs:string" name="language"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element type="xs:string" name="releaseDate"/>
                <xs:element type="xs:boolean" name="isCurrent"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
